 


.container{
    // background: url("../assets/Images/inspect/weather/Web/01_Home/background/background.png") ;
    background-image: linear-gradient(to right, rgba(117, 35, 218, 0.68),rgba(218, 78, 223, 0.68) );
        height: 688px;
    width: 1200px;
}
.grid{
    position: relative;
    width: 960px;
    height: 688px;
    //  border: 1px solid black;
    margin: 0 auto;
}

