<div class="header">
  <div class="tab">
    <a href="#home" id="home" (click)="tabChange('home')" [ngClass]="{active:id==='home'}">HOME</a>
    <a href="#favourite" id="favouite" (click)="tabChange('favourite')" [ngClass]="{active:id==='favouite'}">FAVOURITE</a>
    <a href="#recentsearch" id="recentsearch" (click)="tabChange('recentsearch')" [ngClass]="{active:id==='recentsearch'}">RECENT SEARCH</a>
    <a class="date">{{ date | date: 'medium' }}</a>
  </div>

  <div class="content">
    <div class="content-home" *ngIf="id === 'home'">
      <p>Home</p>
    </div>
    <div class="content-favourite" *ngIf="id === 'favourite'">
      <p><img  class="fav-icon-nothing" src="../../assets/Images/inspect/weather/Web/03_Favourite_blank/Group 38/Group 3/icon_nothing.png"></p>
      <p class="fav-text-nothing">No Favourites added</p>
    </div>
    <div class="content-recentsearch" *ngIf="id === 'recentsearch'">
      <p><img class="fav-icon-recentsearch" src="../../assets/Images/inspect/weather/Web/03_Favourite_blank/Group 38/Group 3/icon_nothing.png"></p>
      <p class="search-text-nothing">No Searches added</p>
    </div>
  </div>  
</div>
 




<!-- 
<script>
  function displayLocation(latitude,longitude){
    var request = new XMLHttpRequest();

    var method = 'GET';
    var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+latitude+','+longitude+'&sensor=true';
    var async = true;

    request.open(method, url, async);
    request.onreadystatechange = function(){
      if(request.readyState == 4 && request.status == 200){
        var data = JSON.parse(request.responseText);
        var address = data.results[0];
        document.write(address.formatted_address);
      }
    };
    request.send();
  };

  var successCallback = function(position){
    var x = position.coords.latitude;
    var y = position.coords.longitude;
    displayLocation(x,y);
  };

  var errorCallback = function(error){
    var errorMessage = 'Unknown error';
    switch(error.code) {
      case 1:
        errorMessage = 'Permission denied';
        break;
      case 2:
        errorMessage = 'Position unavailable';
        break;
      case 3:
        errorMessage = 'Timeout';
        break;
    }
    document.write(errorMessage);
  };

  var options = {
    enableHighAccuracy: true,
    timeout: 1000,
    maximumAge: 0
  };

  navigator.geolocation.getCurrentPosition(successCallback,errorCallback,options);
</script> -->