@import '~/weather/aparna/node_modules/bootstrap/dist/css/bootstrap.css';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
.header {
  position: absolute;
  top: 126px;
  height: 424px;
  width: 960px;
  border-bottom: 1px solid rgb(177, 173, 173);
  margin: 0 auto;
  // border: 1px solid black;
}
.tab {
  border-bottom: 1px solid rgb(177, 173, 173);
  height: 45px;
}
.tab a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 41px;
  padding: 14px 24px;
}

.tab a:hover,
a.active {
  color: yellow;
  border-bottom: 3px solid yellow;
}

.tab p.date {
  float: right;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  padding: 14px 24px;
  color: white;
}

.content p {
  color: white;
}

.content-favourite .fav-icon-nothing,
.content-recentsearch .fav-icon-recentsearch {
  position: absolute;
  top: 176px;
  left: 397px;
  width: 159px;
  height: 84px;
}

.content-favourite .fav-text-nothing,
.content-recentsearch .search-text-nothing {
  position: absolute;
  top: 290px;
  // Actual left: 397px;
  left: 406px;
  size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
  font-weight: 400;
}
.icon {
  align-items: center;
  position: absolute;
  top: 50px;
  left: 380px;
}
.text {
  position: absolute;
  top: 350px;
  left: 430px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
}
.weather_name {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  top: 80px;
}
.tempprops {
  position: absolute;
  top: 64%;
  left: 53%;
  padding: 20px;
}
.temp-measure {
  color: white;
  font-size: 70px;
  position: absolute;
  top: 250px;
  left: 443px;
}
.tempprops button {
  background-color: transparent;
  color: white;
}
.color {
  color: #fad05b;
}
.fav {
  color: white;
  margin-left: 30px;
  position: absolute;
  top: 122px;
  left: 20px;
  font-size: 14px;
}
